###################################
###       SOLUTION LEVEL       ###
###################################
.DS_Store
Thumbs.db
*.log
logs/
*.tmp
tmp/

###################################
###          DOTNET            ###
###################################
# Build
bin/
obj/
artifacts/

# Evitar ignorar DLL globalmente (importante para Blazor)
# *.dll  <-- Eliminado

# DLL generadas dentro de compilación
bin/**/*.dll
obj/**/*.dll
src/**/bin/**/net9.0/*.dll
src/**/obj/**/net9.0/*.dll

# Razor
*.razor.g.cs
*.razor.rz.scp.css

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

###################################
###           BLAZOR           ###
###################################
# Archivos de desarrollo
*.map

# Publicaciones (publish / build)
publish/
build/
out/


# Blazor wwwroot
src/Frontend/wwwroot/*.map

###################################
###         API SERVICE        ###
###################################
src/ApiService/bin/*
src/ApiService/obj/*
src/ApiService/wwwroot/*.map

###################################
###          DOCKER            ###
###################################
docker-data/
volumes/
*.tar
docker-compose.override.yml


###################################
###         CERTIFICADOS       ###
###################################
certs/
*.crt
*.key
*.pem
*.pfx

*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

