<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Blazor App <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " aria-current="page" href="/counter">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Counter</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " aria-current="page" href="/weather"><i
                class="fas fa-fw fa-chart-area"></i><span>Weather</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " aria-current="page" href="/estudiantes"><i
                class="fas fa-fw fa-table"></i><span>Estudiantes</span></a>
    </li>


</ul>